*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1{
    background-color: blue;
    column-gap: white;
}


p{
    font-size: 2rem;
    font-weight: 900;
    color: gold;
    display: flex;
    justify-content: center;
}

.contact{
    background-color: green;
    font-size: 700;
}
